body #app {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F4F4F4;
    background-repeat: no-repeat;
    font-family: 'Bree Serif', serif;
}

body #app > a:link, body #app a {
    color: #373737;
    transition: all 0.5s;
    outline: none;
    text-decoration: none;
}

body #app a:hover {
    color: #C0B283;
    outline: none;
    text-decoration: none;
}

h1.title, h2.title, h3.title, h4.title, h5.title {
    color: #373737;
    margin-bottom: 0;
    padding-bottom: 0;
}