#navbar-menu {
    margin-bottom: 25px;
    background-color: #F4F4F4;
    box-shadow: 0 1px 0 rgba(96,96,96,0.15)
}
#navbar-menu i {
    border: 2px solid #373737;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}
.navbar-nav > * {
    padding: 0px 5px;
}

.nav-link {
    color: #373737;
    font-size: 1.5em;
}
#navbar-menu i:hover {
    border: 2px solid #C0B283;
    background: #C0B283;
    color: whitesmoke;
}
#search {
    justify-content: center;
}
button.btn.btn-outline-search {
    color: #373737;
    border-color: #373737;
}

button.btn.btn-outline-search:hover {
    color: #fff;
    background-color: #C0B283;
    border-color: #C0B283;
    transition: all 0.5s;
}

.navbar .navbar-brand a {
    font-family: 'Black Ops One', cursive;
    font-size: 1.8em;
    color: #373737;
    float: right;
}