#addTema {
    font-size: 3em;
    padding: 5px 3%;
    float: right;
}

#icon-submit {
    border: none;
    background: none;
    outline:none;
    cursor: pointer;
}

.icon-edit:hover {
    text-decoration: none;
    color: #C0B283;
}

.title {
    padding: 20px 0;
}

.table {
    text-align: center;
}

table tbody tr td .icon-trash:hover {
    color: #C0B283;
}
